/*
.spinner {
    width: 100%;
    height: 100%; 
    margin: 0;
}
.spinner::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20 ;
    overflow: hidden;
    background: black;
    opacity: 0.6;
    animation: back 3s linear forwards;
    
}
@keyframes back {
    0% { 
        opacity: 0.6;
    }
    80%{
        opacity: 0.6;
    }
    100% { 
        opacity: 0;
        display: none;
        z-index:-1;
    }
}
.spinner::after {
    box-sizing: border-box;
    z-index: 21;
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid $clr-primaire;
    border-top: 3px solid $clr-secondaire;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 2s linear 1 forwards;
    
}
@keyframes custom-loading {
    0% { 
        transform: rotate(0deg);
        opacity: 1;
    }
    80%{
        opacity: 0.8;
    }
    100% { 
        transform: rotate(360deg);
        opacity: 0;
    }
}
*/

.box__first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;

}
.box__nav{
    width: 45%;
    min-width: 700px;
    margin-left: 2rem;
    
    @include tablette-only{
        margin-left: 0;

    }
    @include mobile-only{
        min-width: fit-content;
        margin-left: 0;
    }
}
.box-localisation{
    @include column();
    width: 100%;
    
}
.localisation{
    width: 100%;
    height: 4rem;
    background-color: rgba(185, 183, 183, 0.432);
    border-top: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    &__ville{
        font-size: 1.2rem;
    }
}
.logo_maps{
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
}
.reservation{
    width: 100%;
    height: 18rem;
    background-color: rgba(241, 241, 241, 0.973);
    @include column; 
    align-items: center;
    @include tablette-only{
        justify-content: space-evenly;
    }
    &__titre{
        width: 70%;
        text-align: center;
        margin: 2rem 0 0 0;   
        @include tablette-only{
            margin: 1rem 0 0 0 ;
        }
    }
    &__texte{
        width: 90%;
        font-size: 1.25rem;
        text-align: center;
        margin: 1.5rem 0;
        color: rgb(100, 100, 100);
    }
    &__lien{
        width: 60%;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient($clr-secondaire,$clr-primaire);
        text-align: center;
        color: white;
        border-radius: 30px;
        box-shadow: 1px 1px 5px 1px gray;
    }

}

.fonctionnement{
    width: 50%;
    height: 25rem;
    @include  column();
    justify-content: start;
    align-items: center;
    @include tablette-only(){
        margin-top:2rem;
    };
    
    &__titre{
        margin:0;

    }
    &__box-liste{
        @include column();
        justify-content: space-around;
    }  
    &__liste{
        list-style: none;
        padding: 0;
    }
   
    &__element{
        display: flex;
        width: 100%;
        background-color: rgba(241, 241, 241, 0.973) ;
        box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.397);
        border-radius: 2rem;
        margin-top: 1rem;
        padding: 2rem 2rem 2rem 0;
        z-index: 0;
        position:relative;
        &:hover {
            &::after{
                content: "";
                opacity: 0.3;
                border-radius: 2rem;
            }
            .fonctionnement__item {
                color: $clr-primaire;
            }
            
        }
        &::after{
            content: "";
            position:absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 2rem;
            background-color: $clr-primaire;
            opacity: 0;
            z-index: -10;
            transition: opacity 250ms;
        }
        
    }
    &__numero{
        width: 1.5rem;
        height: 1.3rem;
        padding-top: 0.2rem;
        border-radius: 1rem;
        margin-left: -0.8rem;
        text-align: center;
        background-color: $clr-primaire;
        color: white;
    }
    &__item{
        font-size:1.5rem;
        margin: 0 2rem 0 2rem;
        color: rgb(100, 100, 100);
        position: relative;
    }
}
.box__menu{
    background-color: rgba(241, 241, 241, 0.973);
    margin: 5rem 2rem 5rem 2rem;
    padding: 2rem;
    @include tablette-only{
        margin-top: 1rem;
    }
    @include mobile-only{
        margin: 0; 
        padding: 0;
    }
}
.box__presentation__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box__menu2{
    @include column();

}
.restaurants{
    text-align: center;

}
.lien_menu{
    width: 100%;
    margin: 1.5rem;
    max-width: 500px;
    border-radius: 2rem;
    background-color: white;
    z-index: 0 ;
    box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.11);
    @include mobile-only{
        margin: 0 ;/*----------------------------*/
    }
}


.photo_menu{
    width: 100%;
    height: 200px;
    border-radius: 2rem 2rem 0 0 ;
    object-fit: cover;
}
.nouveau{
    text-align: center;
    background-color: $clr-tertiaire;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    margin: -190px 0 0 385px;
    p{
        color: #5c8a7e;
        margin-top: 8px  ;
    }
    @include mobile-only{
        margin: 0px 0px 10px 100px; /*00000000000000000000000000000000000000000*/
    }
}
.menu__texte{
    margin-left: 2rem;
}
.coeur{
    position: absolute;
    margin: -65px 0 0 420px;
    font-size: 2rem;
    z-index: 1;
    color: black;
    &:hover{
        &::after{
            content: "";
            opacity: 1;
            z-index: 10;
        }
    }
    &::after{
        content: "";
        z-index:-10;
        opacity: 0;
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: red;
        background: linear-gradient($clr-secondaire,$clr-primaire);
        transition: opacity 20ms;

    }
@include mobile-only{
    margin: 0; /*---------------------------------------------------------------------------*/
}
}
