@keyframes coeurplein {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes coeuropa {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
h1 {
  font-family: shrikhand, sans-serif;
  font-size: 7rem;
  margin: 0;
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h4 {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

li {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .header {
    height: 5rem;
  }
}
.header__box {
  width: 60%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .header__box {
    width: 100%;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.842);
  padding: 1rem;
}
.footer__titre {
  color: white;
  font-size: 2rem;
  padding-left: 2.5rem;
}
.footer__texte {
  color: white;
  margin-left: 2rem;
}
.footer__item1 {
  padding-right: 15px;
}
.footer__item2 {
  padding-right: 9px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 599px) {
  h3 {
    font-size: 1rem;
  }
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-retour {
  position: absolute;
  padding-top: 4rem;
  font-size: 4rem;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .btn-retour {
    margin: -1rem 0 0 -7rem;
  }
}
@media screen and (max-width: 599px) {
  .btn-retour {
    margin: -3rem 0 0 1rem;
    font-size: 2rem;
  }
}

span {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 0.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__box-coeur {
  position: absolute;
  margin: -4rem 0 0 55rem;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .menu__box-coeur {
    margin: -4rem 0 0 40rem;
  }
}
@media screen and (max-width: 599px) {
  .menu__box-coeur {
    margin: -2.5rem 0 0 18.5rem;
  }
}
.menu__box-coeur:hover .menu__coeur__plein {
  animation: coeurplein 1s ease-in-out both;
}
.menu__box-coeur:hover .menu__coeur {
  animation: coeuropa 500ms ease-in-out both;
}
.menu__coeur {
  position: absolute;
  font-size: 3rem;
}
@media screen and (max-width: 599px) {
  .menu__coeur {
    font-size: 2.5rem;
  }
}
.menu__coeur__plein {
  position: absolute;
  font-size: 3rem;
  transform: scale(0);
  color: #9356dc;
}
@media screen and (max-width: 599px) {
  .menu__coeur__plein {
    font-size: 2.5rem;
  }
}
.menu__visuel {
  width: 100%;
  max-width: 1000px;
  background-color: #f1f1f1;
  border-radius: 5rem;
  margin-top: -5rem;
  padding: 3rem 0 3rem 0;
}
@media screen and (max-width: 599px) {
  .menu__visuel {
    border-radius: 5rem 5rem 0 0;
  }
}
.menu__photo {
  width: 100%;
  max-width: 1000px;
  max-height: 42rem;
  border-radius: 5rem 5rem 0 0;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  .menu__photo {
    border-radius: 0;
  }
}
.menu__h1 {
  width: 90%;
  max-width: 1000px;
  padding: 0 0 0 2rem;
  font-size: 4rem;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .menu__h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 599px) {
  .menu__h1 {
    font-size: 1.6rem;
  }
}
.menu__h2 {
  padding: 0 0 0 2rem;
}
@media screen and (max-width: 599px) {
  .menu__h2 {
    font-size: 1.3rem;
  }
}
.menu__lien-article {
  width: 95%;
  background-color: white;
  border-radius: 1.5rem;
  padding-left: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  box-shadow: 0px 0px 2rem #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  animation: ani-plats 1s ease-in-out 1 both;
}
@keyframes ani-plats {
  0% {
    transform: translatey(50px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@media screen and (max-width: 599px) {
  .menu__lien-article {
    width: 90%;
  }
}
.menu__lien-article:hover .menu__lien-article__confirmer {
  animation: coche 500ms ease-in-out 1 both;
}
@keyframes coche {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-5rem);
  }
}
.menu__lien-article:hover .confirmer {
  animation: rot 400ms 250ms ease-in-out 1 both;
}
@keyframes rot {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__lien-article:hover .menu__lien-article__prix {
  animation: coche 500ms ease-in-out 1 both;
}
.menu__lien-article:hover .menu__lien-article__texte {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .menu__lien-article:hover .menu__lien-article__texte {
    width: 215px;
  }
}
.menu__lien-article:hover .menu__lien-article__texte h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__lien-article:hover .menu__lien-article__texte p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__lien-article__texte {
  width: 400px;
  max-height: 5rem;
}
.menu__lien-article__confirmer {
  color: white;
  font-size: 2rem;
  padding: 1.75rem 2rem 1.8rem 2rem;
  background-color: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  z-index: 1;
  position: absolute;
  right: -6rem;
}
.menu__lien-article__box-prix {
  width: 20%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
.menu__box-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__btn-commande {
  font-size: 1.5rem;
  width: 15rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff79da, #9356dc);
  text-align: center;
  color: white;
  border: none;
  border-radius: 5rem;
  box-shadow: 1px 1px 5px 1px gray;
}
.menu__btn-commande:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 2px 2px 5px 3px gray;
}

@media screen and (max-width: 599px) {
  main p {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=menu_la_palette_du_gout.css.map */
