@keyframes coeurplein {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes coeuropa {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .header {
    height: 5rem;
  }
}
.header__box {
  width: 60%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .header__box {
    width: 100%;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.842);
  padding: 1rem;
}
.footer__titre {
  color: white;
  font-size: 2rem;
  padding-left: 2.5rem;
}
.footer__texte {
  color: white;
  margin-left: 2rem;
}
.footer__item1 {
  padding-right: 15px;
}
.footer__item2 {
  padding-right: 9px;
}

h1 {
  font-family: shrikhand, sans-serif;
  font-size: 7rem;
  margin: 0;
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h4 {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

li {
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.spinner {
  width: 100%;
  height: 100%;
  margin: 0;
}

.spinner::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow: hidden;
  background: black;
  opacity: 0.6;
  animation: back 3s linear forwards;
}

@keyframes back {
  0% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.spinner::after {
  box-sizing: border-box;
  z-index: 21;
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid #9356dc;
  border-top: 3px solid #ff79da;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: custom-loading 2s linear 1 forwards;
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.box__first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.box__nav {
  width: 45%;
  min-width: 700px;
  margin-left: 2rem;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .box__nav {
    margin-left: 0;
  }
}
@media screen and (max-width: 599px) {
  .box__nav {
    min-width: fit-content;
    margin-left: 0;
  }
}

.box-localisation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.localisation {
  width: 100%;
  height: 4rem;
  background-color: rgba(185, 183, 183, 0.432);
  border-top: 3px solid gray;
  text-align: center;
  display: flex;
  justify-content: center;
}
.localisation__ville {
  font-size: 1.2rem;
}

.logo_maps {
  font-size: 1.5rem;
  margin: 1rem 1rem 0 0;
}

.reservation {
  width: 100%;
  height: 18rem;
  background-color: rgba(241, 241, 241, 0.973);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .reservation {
    justify-content: space-evenly;
  }
}
.reservation__titre {
  width: 70%;
  text-align: center;
  margin: 2rem 0 0 0;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .reservation__titre {
    margin: 1rem 0 0 0;
  }
}
.reservation__texte {
  width: 90%;
  font-size: 1.25rem;
  text-align: center;
  margin: 1.5rem 0;
  color: #646464;
}
.reservation__lien {
  width: 60%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff79da, #9356dc);
  text-align: center;
  color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 1px gray;
}
.reservation__lien:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 2px 2px 5px 3px gray;
}

.fonctionnement {
  width: 50%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .fonctionnement {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .fonctionnement {
    margin-top: 2rem;
  }
}
.fonctionnement__titre {
  margin: 0;
}
.fonctionnement__box-liste {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fonctionnement__liste {
  list-style: none;
  padding: 0;
}
.fonctionnement__element {
  display: flex;
  width: 100%;
  background-color: rgba(241, 241, 241, 0.973);
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.397);
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 2rem 2rem 2rem 0;
  z-index: 0;
  position: relative;
}
.fonctionnement__element:hover::after {
  content: "";
  opacity: 0.3;
  border-radius: 2rem;
}
.fonctionnement__element:hover .fonctionnement__item {
  color: #9356dc;
}
.fonctionnement__element::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  background-color: #9356dc;
  opacity: 0;
  z-index: -10;
  transition: opacity 250ms;
}
.fonctionnement__numero {
  width: 1.5rem;
  height: 1.3rem;
  padding-top: 0.2rem;
  border-radius: 1rem;
  margin-left: -0.8rem;
  text-align: center;
  background-color: #9356dc;
  color: white;
}
.fonctionnement__item {
  font-size: 1.5rem;
  margin: 0 2rem 0 2rem;
  color: #646464;
  position: relative;
}

.box__menu {
  background-color: rgba(241, 241, 241, 0.973);
  margin: 5rem 2rem 5rem 2rem;
  padding: 2rem;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .box__menu {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .box__menu {
    margin: 0;
    padding: 0;
  }
}

.box__presentation__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 599px) {
  .box__presentation__menu {
    width: 95%;
  }
}

.box__menu2 {
  display: flex;
  flex-direction: column;
}

.restaurants {
  text-align: center;
}

.lien_menu {
  width: 100%;
  margin: 1.5rem;
  max-width: 500px;
  border-radius: 2rem;
  background-color: white;
  z-index: 0;
  box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.11);
  position: relative;
}
@media screen and (max-width: 599px) {
  .lien_menu {
    margin: 1rem 0 1rem 0.6rem;
  }
}

.photo_menu {
  width: 100%;
  height: 200px;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}

.nouveau {
  text-align: center;
  background-color: #99e2d0;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  position: absolute;
  margin: -190px 0 0 60%;
}
.nouveau p {
  color: #5c8a7e;
  margin-top: 8px;
}
@media screen and (max-width: 599px) {
  .nouveau {
    margin: -190px 0px 0px 265px;
  }
}

.box__legende {
  display: flex;
}

.menu__texte {
  margin-left: 2rem;
  width: 40%;
}
@media screen and (max-width: 599px) {
  .menu__texte {
    width: 50%;
  }
}

.coeur {
  position: absolute;
  margin: 25px 0px 0px 35%;
  font-size: 2rem;
  z-index: 1;
  color: black;
  background-color: white;
  opacity: 1;
}
@media screen and (max-width: 599px) {
  .coeur {
    margin: 30px 0 0 100px;
  }
}
.coeur__plein {
  position: absolute;
  margin: 25px 0 0 200px;
  font-size: 2rem;
  z-index: 1;
  color: #9356dc;
  background: white;
  transform: scale(0);
}
@media screen and (max-width: 599px) {
  .coeur__plein {
    margin: 30px 0 0 100px;
  }
}

.box__coeur:hover .coeur__plein {
  animation: coeurplein 1s ease-in-out both;
}
.box__coeur:hover .coeur {
  animation: coeuropa 500ms ease-in-out both;
}

/*# sourceMappingURL=style.css.map */
